@import url(/stylesheets/main.css);

body{
  background-color: var(--bg-secondary);
  
}

.btn-home{
  padding: 5px;
  width: 12rem;
  height: fit-content;
  text-align: center;
  background-color: var(--bg-color);
}

.btn-home-outlined{
  padding: 5px;
  width: 12rem;
  background-color: white;
  border: 2px solid var(--bg-color);
  color: var(--bg-color);
  height: fit-content;
  text-align: center;

}

.home-container{
  margin-left: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 12rem );
}

.btn-home:hover{
  background-color: var(--bg-color);
}

.index-heading{
  color: var(--bg-color);
}