@import url(/stylesheets/main.css);


.alert {
  display: block;
  width: 50%;
  border: 1px solid;
  padding-left: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem auto;
}

.alert-primary {
  background-color: hsl(var(--primary-color));
  border-color: hsl(var(--primary-dark));
}

.alert-secondary {
  background-color: hsl(var(--secondary-color));
  border-color: hsl(var(--secondary-dark));
}

.alert-success {
  background-color: hsl(var(--green-color));
  border-color: hsl(var(--green-dark));
}

.alert-danger {
  background-color: hsl(var(--red-light));
  border-color: hsl(var(--red-color));
}

.alert-warning {
  background-color: hsl(var(--orange-color));
  border-color: hsl(var(--orange-dark));
}

.outline-primary {
  color: hsl(var(--primary-color));
  border-color: hsl(var(--primary-color));
}

.outline-secondary {
  color: hsl(var(--secondary-color));
  border-color: hsl(var(--secondary-color));
}

.outline-success {
  color: hsl(var(--green-color));
  border-color: hsl(var(--green-color));
}

.outline-danger {
  color: hsl(var(--red-color));
  border-color: hsl(var(--red-color));
}

.outline-warning {
  color: hsl(var(--orange-color));
  border-color: hsl(var(--orange-color));
}

.outline-container .outline-primary,.outline-container .outline-secondary,.outline-container .outline-success,.outline-container .outline-danger,.outline-container .outline-warning{
  background-color: hsl(0, 0%, 100%);
  border: solid 1.35px;
}
