@import url(/stylesheets/main.css);

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.image{
    max-width: 100%;
    object-fit: cover;
    block-size: auto;
    
}

.image-sm{
    width: 7rem;
    aspect-ratio: 1;
    border-radius: 4px;
}

.image-lg{
    width: 13rem;
    aspect-ratio: 1;
    border-radius: 1rem;
}

.image-round{
    border-radius: 50%;
}