@import url(/stylesheets/main.css);

.input {
  padding: 0.5rem;
  width: 15rem;
  margin-top: 5px;
}

.focus-input {
  border: 2px solid hsl(var(--secondary-color));
}

.disabled-input {
  pointer-events: none;
}

.error-input {
  border: 2px solid hsl(var(--red-color));
  background-color: hsl(var(--red-light), 0.1);
}

input[type="text"]:disabled{
  background: hsla(var(--disabled-bg-color));
  border: none;
}
