:root{
    --primary-color: 332, 100%, 64%;
    --primary-light: 332, 100%, 81%;
    --primary-lighter: 332, 83%, 95%;

    --secondary-color: 195, 100%, 44%;
    --secondary-light: 195, 100%, 64%;
    --secondary-lighter: 195, 100%, 77%;

    --red-dark: 0, 100%, 42%;
    --red-color: 0, 100%, 65%;
    --red-light: 0, 100%, 95%;

    --green-dark: 108, 72%, 30%;
    --green-color: 108, 80%, 45%;
    --green-light: 108, 100%, 95%;

    --orange-dark: 34, 100%, 30%;
    --orange-color: 34, 100%, 65%;
    --orange-light: 34, 100%, 95%;

    --gray-color: 0, 7%, 74%;
    --disabled-bg-color: 0, 0%, 50%, 0.1;

    --rating-color: 36, 100%, 56%;
}


