@import url(/stylesheets/color.css);
@import url(/stylesheets/general.css);
@import url(/stylesheets/reset.css);
@import url(/stylesheets/utilities.css);
@import url(/components/button.css);
@import url(/components/avatars.css);

.page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

