.main-container{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.drawer-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: hsla(var(--secondary-light), 0.1);
    width: 15rem;
    overflow-y: scroll;
  }
  
  
.navigation{
    width: 100%;
    background-color: hsla(var(--secondary-light), 0.1);
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
  }