@import url(/stylesheets/main.css);


.btn-home{
  padding: 5px;
  width: 8rem;
  height: fit-content;
  text-align: center;
}

.home-container{
  margin-left: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.index-heading{
  color: hsl(209, 82%, 17%);
}