@import url(/stylesheets/main.css);

.drawer-button{
    border: none;
    color: black;
    background-color: transparent;
}

.drawer-button:hover{
    color: hsl(var(--primary-color));
}


.drawer-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: hsla(var(--secondary-light),0.1);
}